.painel-formulario{
    margin-top: 30px;
}

.painel-formulario .titulo{
    color:#ef6e43;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;

}

.botao-formulario .button{
    text-transform: uppercase;
    margin-bottom: 20px;
}

.botao-formulario {
    text-align: center;
}
